<a href="https://colab.research.google.com/github/koki0430/SYAKKE/blob/main/Tester.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
limit = time.time() + 8
count = 1
while limit >= time.time():
    count +=1
print('q')

q

In [1]:
rgb = 200, 100, 60
# Hue
if rgb[1] < rgb[0] > rgb[2]: # Red
    hue = 60 * ((rgb[1] - rgb[2]) / (max(rgb) - min(rgb)))
elif rgb[0] < rgb[1] > rgb[2]: # Green
    hue = 60 * ((rgb[2] - rgb[0]) / (max(rgb) - min(rgb))) + 120
else: # Blue
    hue = 60 * ((rgb[0] - rgb[1]) / (max(rgb) - min(rgb))) + 240

if hue < 0:
    hue += 360

# Saturation
saturation = (max(rgb) - min(rgb)) / max(rgb) * 100

# Brightness
brightness = (max(rgb) / 255) * 100

print(str(rgb) +"_" + str(hue) +"_" + str(saturation) +"_" + str(brightness))

(200, 100, 60)_17.142857142857142_70.0_78.43137254901961

In [14]:
import random
total = 0
for i in range(1000000):
    number1 = random.randint(0,100)
    count=0
    while number1 != count:
        count += 1
    total += count

print(total/1000000)

49.988742

In [4]:
num1 = 1
num2 = 2
num3 = 3
if  num2 < num3 > num1:
    print("y")
else:
    print("n")

y

In [6]:
l = (1,2,3)
print(l[0])

1

In [10]:
hue = -1
if hue < 0: hue += 360
print(hue)

359

In [14]:
n = '100'
try:
    print(n + 200)
except TypeError as e:
    print(e)
# TypeError: can only concatenate str (not "int") to str

n = 100

print(100 + 200)
# 300

can only concatenate str (not "int") to str
300

In [ ]:
class Test1:
    def num1(self):
        print('aaa')

    def num2(self):
        self.num1()

test = Test1()

test.num2()

aaa

In [ ]:
class Test():
    error = [1,1,1,12,1]

    def num1(self):
        Test.error.append(123456)
        num1 = 1
        print(Test.error)
    
    def num2(self):
        print(Test.error)
        print(num1)

test = Test()
test.num1()
test.num2()

[1, 1, 1, 12, 1, 123456]
[1, 1, 1, 12, 1, 123456]

NameError: ignored

In [ ]:
import random
total = 0
for i in range(100000000):
    number1 = random.randint(0,100)
    count=0
    while number1 != count:
        count += 1
    total += count

print(total/100000000)

49.99755979

In [ ]:
def test(pasr):
    return 1 if pasr == 2 else 2

print(test(1))

2

In [ ]:
class Test:
    def __init__(self,port):
        self.port = port
    
    def aaa(self):
        print(self.port)

test = Test(1)

test.aaa(1)

In [ ]:
lists = [1,2,3,4,5,6,7,8,9]

if all(i >= 1 for i in lists):
    print('a')
else:
    print('n')

a

In [ ]:
se = [1,2,2]
acs(se)

def acs(lists):
    print(lists)

In [ ]:
print(a())

def a():
    lists = [1,2,3]
    return lists

[1, 2, 3]

In [ ]:
def test(lis):
    print(lis)
    print(type(lis))

test((1,2,3))

(1, 2, 3)
<class 'tuple'>

In [ ]:
a = 10
b = 10
print(str(a*b)+" "+str(2*a+2*b))

100 40

In [ ]:

class Test():
    def tester(self,rty):
        print(rty)

l = [1,2,3,4]
tes = Test()
tes.tester(l)

[1, 2, 3, 4]